.cases-section {
    margin: 25px 0;
}

.case__img {
    height: 350px;
    border-radius: 30.333px;
    background: var(--white);
}

.cases {
    display: flex;
    gap: 15px;
    width: 100%;
}

.case {
    width: 100%;
}

.case__subtitle {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.case__subtitle::before {
    content: '';
    display: inline-block; 
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    margin-right: 5px; 
    background: var(--primary);
}